{% extends 'base.html' %}

{% block title %}
Right Choice
{% endblock %}

{% block content %}
<div class="container">
    <br><br>
    <h3>Визначення найкращої альтернативи</h3>
    <br>
    <p>Right Choice допоможе вам обрати найкращу альтернативу за будь-якими критеріями.</p>
    <p>Для цього слід вказати список критеріїв з їх відносною значущістю для вас та список альтернатив з показником відносної значущості для кожного критерія.</p>
    <p>Програма обере найкращу для вас альтернативу згідно введених вами даних.</p>
    <br><br>
    <a href="/alternatives_input" class="btn btn-info">Почати</a>
</div>
{% endblock %}